.1_10 { 
	overflow:hidden;
}
.e1_10 { 
	width:1464px;
	height:954px;
	position:absolute;
}
.e0_3 { 
	background-color:rgba(229.00000154972076, 247.00000047683716, 235.0000011920929, 1);
	width:1464px;
	height:954px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_3 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:42px;
	position:absolute;
	left:184px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e1_4 { 
	background-color:rgba(17.00000088661909, 16.504167392849922, 16.504167392849922, 1);
	width:1129px;
	height:63px;
	position:absolute;
	left:168px;
	top:172px;
}
.e1_5 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:39px;
	position:absolute;
	left:206px;
	top:184px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e1_8 { 
	color:rgba(255, 255, 255, 1);
	width:286px;
	height:39px;
	position:absolute;
	left:964px;
	top:184px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e1_6 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:39px;
	position:absolute;
	left:551px;
	top:184px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e1_2 { 
	width:100px;
	height:100px;
	position:absolute;
	left:60px;
	top:33px;
	background-image:url(images/img_hana_symbol_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
